

NET "debug[15]" LOC = A14;
NET "debug[14]" LOC = E13;
NET "debug[13]" LOC = D13;
NET "debug[12]" LOC = B13;
NET "debug[11]" LOC = A13;
NET "debug[10]" LOC = F12;
NET "debug[9]" LOC = E12;
NET "debug[8]" LOC = A12;
NET "debug[7]" LOC = F11;
NET "debug[6]" LOC = E11;
NET "debug[5]" LOC = D11;
NET "debug[4]" LOC = C11;
NET "debug[3]" LOC = B11;
NET "debug[2]" LOC = A11;
NET "debug[0]" LOC = D10;
NET "debug[1]" LOC = E10;
NET "debug3[3]" LOC = F9;
NET "RAM1Addr_out[0]" LOC = C17;
NET "RAM1Addr_out[1]" LOC = C18;
NET "RAM1Addr_out[2]" LOC = D16;
NET "RAM1Addr_out[3]" LOC = D17;
NET "RAM1Addr_out[4]" LOC = E15;
NET "RAM1Addr_out[5]" LOC = E16;
NET "RAM1Addr_out[6]" LOC = F14;
NET "RAM1Addr_out[7]" LOC = F15;
NET "RAM1Addr_out[8]" LOC = F17;
NET "RAM1Addr_out[9]" LOC = F18;
NET "RAM1Addr_out[10]" LOC = G13;
NET "RAM1Addr_out[11]" LOC = G14;
NET "RAM1Addr_out[12]" LOC = G15;
NET "RAM1Addr_out[13]" LOC = G16;
NET "RAM1Addr_out[14]" LOC = H14;
NET "RAM1Addr_out[15]" LOC = H15;
NET "RAM1Addr_out[16]" LOC = H16;
NET "RAM1Addr_out[17]" LOC = H17;
NET "RAM1Data[0]" LOC = J12;
NET "RAM1Data[1]" LOC = J13;
NET "RAM1Data[2]" LOC = J14;
NET "RAM1Data[3]" LOC = J15;
NET "RAM1Data[4]" LOC = J16;
NET "RAM1Data[5]" LOC = J17;
NET "RAM1Data[6]" LOC = K12;
NET "RAM1Data[7]" LOC = K13;
NET "RAM1Data[8]" LOC = K14;
NET "RAM1Data[9]" LOC = K15;
NET "RAM1Data[10]" LOC = L15;
NET "RAM1Data[11]" LOC = L16;
NET "RAM1Data[12]" LOC = L17;
NET "RAM1Data[13]" LOC = L18;
NET "RAM1Data[14]" LOC = M13;
NET "RAM1Data[15]" LOC = M14;
NET "RAM2Addr_out[0]" LOC = N14;
NET "RAM2Addr_out[1]" LOC = N15;
NET "RAM2Addr_out[2]" LOC = N18;
NET "RAM2Addr_out[3]" LOC = P16;
NET "RAM2Addr_out[4]" LOC = P17;
NET "RAM2Addr_out[5]" LOC = P18;
NET "RAM2Addr_out[6]" LOC = R15;
NET "RAM2Addr_out[7]" LOC = R16;
NET "RAM2Addr_out[8]" LOC = R18;
NET "RAM2Addr_out[9]" LOC = T17;
NET "RAM2Addr_out[10]" LOC = T18;
NET "RAM2Addr_out[11]" LOC = U18;
NET "RAM2Addr_out[12]" LOC = V15;
NET "RAM2Addr_out[13]" LOC = V13;
NET "RAM2Addr_out[14]" LOC = V12;
NET "RAM2Addr_out[15]" LOC = V9;
NET "RAM2Addr_out[16]" LOC = U16;
NET "RAM2Addr_out[17]" LOC = U15;
NET "RAM2Data[0]" LOC = U13;
NET "RAM2Data[1]" LOC = T16;
NET "RAM2Data[2]" LOC = T15;
NET "RAM2Data[3]" LOC = T14;
NET "RAM2Data[4]" LOC = T12;
NET "RAM2Data[5]" LOC = R13;
NET "RAM2Data[6]" LOC = R14;
NET "RAM2Data[7]" LOC = R12;
NET "RAM2Data[8]" LOC = R11;
NET "RAM2Data[9]" LOC = R10;
NET "RAM2Data[10]" LOC = P13;
NET "RAM2Data[11]" LOC = P12;
NET "RAM2Data[12]" LOC = P11;
NET "RAM2Data[13]" LOC = P10;
NET "RAM2Data[14]" LOC = N12;
NET "RAM2Data[15]" LOC = N11;
NET "clk0" LOC = U9;
NET "RAM1EN" LOC = M15;
NET "RAM1OE" LOC = M16;
NET "RAM1WE" LOC = M18;
NET "RAM2EN" LOC = N10;
NET "RAM2OE" LOC = R9;
NET "RAM2WE" LOC = M9;
NET "rst" LOC = U10;
NET "uartwrn" LOC = U5;
NET "uartrdn" LOC = C14;


NET "debug2[6]" LOC = C7;
NET "debug2[5]" LOC = D7;
NET "debug2[4]" LOC = E7;
NET "debug2[3]" LOC = F7;
NET "debug2[2]" LOC = A8;
NET "debug2[1]" LOC = E8;
NET "debug2[0]" LOC = F8;
NET "debug3[6]" LOC = C9;
NET "debug3[5]" LOC = D9;
NET "debug3[4]" LOC = E9;
NET "debug3[2]" LOC = G9;
NET "debug3[1]" LOC = A10;
NET "debug3[0]" LOC = B10;


NET "clk50_true" LOC = B9;

# PlanAhead Generated physical constraints 

NET "clkin" LOC = U6;
NET "datain" LOC = V6;

NET "b[2]" LOC = B6;
NET "b[1]" LOC = A6;
NET "b[0]" LOC = D5;
NET "g[2]" LOC = C5;
NET "g[1]" LOC = C4;
NET "g[0]" LOC = B4;
NET "r[2]" LOC = A4;
NET "r[1]" LOC = C3;
NET "r[0]" LOC = A7;

NET "hs" LOC = D6;
NET "vs" LOC = E6;

NET "FlashByte" LOC = C1;
NET "FlashVpen" LOC = C2;
NET "FlashCE" LOC = E4;
NET "FlashOE" LOC = E1;
NET "FlashWE" LOC = D4;
NET "FlashRP" LOC = D1;

NET "FlashAddr[0]" LOC = T2;
NET "FlashAddr[1]" LOC = T1;
NET "FlashAddr[2]" LOC = R3;
NET "FlashAddr[3]" LOC = R2;
NET "FlashAddr[4]" LOC = P4;
NET "FlashAddr[5]" LOC = P3;
NET "FlashAddr[6]" LOC = P2;
NET "FlashAddr[7]" LOC = P1;
NET "FlashAddr[8]" LOC = N5;
NET "FlashAddr[9]" LOC = N4;
NET "FlashAddr[10]" LOC = M6;
NET "FlashAddr[11]" LOC = M5;
NET "FlashAddr[12]" LOC = M4;
NET "FlashAddr[13]" LOC = M3;
NET "FlashAddr[14]" LOC = L6;
NET "FlashAddr[15]" LOC = L5;
NET "FlashAddr[16]" LOC = L4;
NET "FlashAddr[17]" LOC = L3;
NET "FlashAddr[18]" LOC = L2;
NET "FlashAddr[19]" LOC = L1;
NET "FlashAddr[20]" LOC = K6;
NET "FlashAddr[21]" LOC = K5;
NET "FlashAddr[22]" LOC = K4;

NET "FlashData[0]" LOC = J5;
NET "FlashData[1]" LOC = J4;
NET "FlashData[2]" LOC = J2;
NET "FlashData[3]" LOC = J1;
NET "FlashData[4]" LOC = H6;
NET "FlashData[5]" LOC = H5;
NET "FlashData[6]" LOC = H4;
NET "FlashData[7]" LOC = H3;
NET "FlashData[8]" LOC = H2;
NET "FlashData[9]" LOC = H1;
NET "FlashData[10]" LOC = G6;
NET "FlashData[11]" LOC = G5;
NET "FlashData[12]" LOC = G4;
NET "FlashData[13]" LOC = G3;
NET "FlashData[14]" LOC = F2;
NET "FlashData[15]" LOC = F1;
